{% extends "page.html.twig" %}

{%- block main ~%}
      {#- description ~#}
      <div class="p-8 rounded-3xl shadow-md mt-[-80px] bg-white">
        <blockquote class="h-48">
          <p id="description" class="text-2xl font-bold text-center">Cliquer sur le bouton pour prendre un objet</p>
        </blockquote>
      </div>
      {#- button ~#}
      <div class="flex mt-10 pb-10 text-wrap justify-center">
        {%- import 'macros/fontawesome.twig' as fontawesome ~%}
        <button id="button" class="flex items-center justify-center px-10 py-4 rounded-full bg-secondary text-white no-underline transition hover:brightness-125 duration-300">
          <span>{{ fontawesome.icon('arrows-rotate', 'solid', 'xl') }}</span>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span>Fouiller le sac</span>
        </button>
      </div>
      {#- scripts ~#}
      <script>
        const items = [
          {%- for item in site.data.sac ~%}
          "{{ item.Description|e }}"{% if not loop.last %}, {% endif %}
          {%- endfor ~%}
        ];
        function getRandomItem(items) {
          const random = Math.floor(Math.random() * items.length);
          console.log(random, items[random]);
          return items[random];
        }
        const button = document.querySelector('#button');
        const description = document.querySelector('#description');
        button.addEventListener('click', (event) => {
          description.innerHTML = getRandomItem(items);
        });
      </script>
{%- endblock ~%}