{% extends "page.html.twig" %}

{%- block main ~%}
      {#- description ~#}
      <div id="description-container" class="p-8 rounded-3xl shadow-md bg-secondary text-white">
        <blockquote class="h-96 flex items-center justify-center">
          <div id="description" class="text-4xl font-bold text-center">Le sac à dos infini</div>
        </blockquote>
      </div>
      <div class="p-4 rounded-3xl shadow-md bg-[#CEC9C5] relative -z-10 mx-4 mt-[-20px]"></div>
      <div class="p-4 rounded-3xl shadow-md bg-[#9F9187] relative -z-20 mx-8 mt-[-20px]"></div>
      {#- button ~#}
      <div class="flex mt-4 text-wrap justify-center">
        {%- import 'macros/fontawesome.twig' as fontawesome ~%}
        <button id="button" class="flex items-center space-x-4 justify-center px-14 py-5 rounded-full bg-secondary text-white no-underline transition hover:brightness-125 duration-300">
          <span>{{ fontawesome.icon(name:'arrows-rotate', style:'solid', size:'xl', flip:'horizontal') }}</span>
          <span>Fouiller le sac</span>
        </button>
      </div>
      {#- scripts ~#}
      <script>
        const items = [
          {%- for item in site.data.sac ~%}
          "{{ item.Description|e }}"{% if not loop.last %}, {% endif %}
          {%- endfor ~%}
        ];
        function getRandomItem(items) {
          const random = Math.floor(Math.random() * items.length);
          console.log(random, items[random]);
          return items[random];
        }
        const container = document.querySelector("#description-container");
        const description = document.querySelector('#description');
        const button = document.querySelector('#button');
        button.addEventListener('click', (event) => {
          container.classList.replace('bg-secondary', 'bg-white');
          container.classList.replace('text-white', 'text-secondary');
          description.innerHTML = getRandomItem(items);
        });
      </script>
{%- endblock ~%}